
@{
	ViewBag.Title = "Blogs";
}

<h2>Blogs</h2>


<div class="container mt-4">
	<div class="card" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Card Title</h5>
			<p class="card-text"><small class="text-muted">Date: November 22, 2023</small></p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>
</div>